.card{
    border: 2px solid gray;
    padding: 5px;
    margin: 5px;
    min-width: 10rem;
    height: 15rem;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px gray;
}

.card > button {
    position: relative;
    color: red;
    background-color: white;
    left: 80px;
    margin-right: 0;
    border-radius: 20%;
    border: 1px solid grey;
}